<form>
    <label>Year</label> 
    <input type="text" name="year" ng-model="car.year"/>
    <label>Registered</label> 
    <input type="text" name="email" ng-model="car.registered"/>
    <label>Make</label> 
    <input type="text" name="phone" ng-model="car.make"/>
    <label>Model</label> 
    <input type="text" name="model" ng-model="car.model"/>
    <label>Description</label> 
    <input type="text" name="des" ng-model="car.description"/>
    <label>Price</label> 
    <input type="text" name="price" ng-model="car.price"/>
    <br/>
    <input type="button" value="Save" ng-click="Add.add(car)" />
</form>
